[submodule "webauthn"]
	path = webauthn
	url = https://github.com/JSmith-BitFlipper/webauthn.git
[submodule "webauthn_utils"]
	path = webauthn_utils
	url = https://github.com/JSmith-BitFlipper/webauthn_utils.git
